<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
  <div class="container-fluid">
    <a class="navbar-brand" href="/flats">
      <i class="fa-solid fa-user-group"></i> AirFriends
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Add a Friend", new_flat_path, class: "btn btn-outline-success btn-sm" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="row mt-4 ms-4 me-4">
  <% @flats.each do |flat| %>
    <div class="col-md-3">
      <div class="card mb-4 shadow-sm" style="width: 100%; border-radius: 10px;">
       <img src="<%= flat.image_url || 'https://source.unsplash.com/random/800x600/?apartment' %>"
             class="card-img-top card-img-fluid"
             alt="<%= flat.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card-text"><%= flat.description %></p>
          <p class="card-text"><strong>Price:</strong> <%= number_to_currency(flat.price_per_night) %></p>
          <%= link_to "View Details", flat_path(flat), class: "btn btn-outline-success" %>
          <%= link_to "Edit Friend", edit_flat_path(flat), class: "btn btn-outline-warning" %>
          <%= link_to "Delete  Friend", flat_path(flat), class: "btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "Do you REALLY want to delete a Friend ?ðŸ˜­ðŸ¥²ðŸ™ðŸ¥ºðŸ˜«ðŸ˜”ðŸ¥²ðŸ˜°ðŸ˜¥ðŸ˜ªðŸ¤§ðŸ« ðŸ˜­ðŸ¥²ðŸ™ðŸ¥ºðŸ˜«ðŸ˜”ðŸ¥²ðŸ˜°ðŸ˜¥ðŸ˜ªðŸ¤§ðŸ« ðŸ˜­ðŸ¥²ðŸ™ðŸ¥ºðŸ˜«ðŸ˜”ðŸ¥²ðŸ˜°ðŸ˜¥ðŸ˜ªðŸ¤§ðŸ« ðŸ˜­ðŸ¥²ðŸ™ðŸ¥ºðŸ˜«ðŸ˜”ðŸ¥²ðŸ˜°ðŸ˜¥ðŸ˜ªðŸ¤§ðŸ« ðŸ˜­ðŸ¥²ðŸ™ðŸ¥ºðŸ˜«ðŸ˜”ðŸ¥²ðŸ˜°ðŸ˜¥ðŸ˜ªðŸ¤§ðŸ« " } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
